<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <div align="center">   
    <ion-navbar >
      <ion-title>Settings</ion-title>
      <button color="danger" ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      <ion-buttons round outline end> <button color="danger" ion-button round outline (click)="logout()"> Logout </button> </ion-buttons>
    </ion-navbar>
  </div> 
  </ion-header>


<ion-content padding>
<ion-list>
    <ion-item *ngIf="!showCelsius">
        <ion-label><b>Temperature Limits</b></ion-label>
        <ion-range color="danger" dualKnobs="true" [(ngModel)]="tempKnobValues" pin="true" min="-10" max="120" step="1">
            <ion-icon color="danger" range-left small name="thermometer"></ion-icon> <ion-label range-left>-10°F</ion-label>
            <ion-icon color="danger" range-right large name="thermometer"></ion-icon> <ion-label range-right>120°F</ion-label>
        </ion-range>
        <ion-label>Minimum: {{tempKnobValues.lower}}°F &nbsp;&nbsp;&nbsp;Maximum: {{tempKnobValues.upper}}°F</ion-label>

      </ion-item>
      <ion-item *ngIf="showCelsius">
            <ion-label><b>Temperature Limits</b></ion-label>
            <ion-range color="danger" dualKnobs="true" [(ngModel)]="tempKnobValues" pin="true" min="-23" max="48" step="1">
                <ion-icon color="danger" range-left small name="thermometer"></ion-icon> <ion-label range-left>-23°C</ion-label>
                <ion-icon color="danger" range-right large name="thermometer"></ion-icon> <ion-label range-right>48°C</ion-label>
            </ion-range>
            <ion-label>Minimum: {{tempKnobValues.lower | number:'1.0-0'}}°C &nbsp;&nbsp;&nbsp;Maximum: {{tempKnobValues.upper}}°C</ion-label>
    
          </ion-item>
      <div align="center">

          <button  (click)="saveTempLimits()" ion-button color="danger">{{ 'SAVE LIMITS' }}</button>
          <button  (click)="resetTempLimits()" ion-button color="danger">{{ 'SET TO DEFAULT' }}</button>
  </div>
      <br>
      <br>
      <br>
      <ion-item>
          <ion-label><b>Humidity Limits</b></ion-label>
          
          <ion-range color="danger" dualKnobs="true" [(ngModel)]="humidityKnobValues" pin="true" min="0" max="100" step="1">
              <ion-icon color="danger" range-left small name="water"></ion-icon> <ion-label range-left>0%</ion-label>
              <ion-icon color="danger" range-right large name="water"></ion-icon> <ion-label range-right>100%</ion-label>
          </ion-range>
          <ion-label>Minimum: {{humidityKnobValues.lower}}% &nbsp;&nbsp;&nbsp;Maximum: {{humidityKnobValues.upper}}%</ion-label>

        </ion-item>
        <div align="center">

            <button  (click)="saveHumidLimits()" ion-button color="danger">{{ 'SAVE LIMITS' }}</button>
            <button  (click)="resetHumidLimits()" ion-button color="danger">{{ 'SET TO DEFAULT' }}</button>
       </div>
        <br><br><br>
        <ion-item>
                <ion-label><b>Simulated Sites</b></ion-label>
                
                <ion-range color="danger" [(ngModel)]="citiesKnobValues" pin="true" min="0" max="50" step="1">
                    <ion-icon color="danger" range-right large name="city"></ion-icon> <ion-label range-right>50</ion-label>
                </ion-range>
                <ion-label>Limit: {{citiesKnobValues}} Sites</ion-label>
      
              </ion-item>
              <div align="center">
      
                  <button  (click)="saveCitiesLimits()" ion-button color="danger">{{ 'SAVE LIMITS' }}</button>
                  <button  (click)="resetCitiesLimits()" ion-button color="danger">{{ 'SET TO DEFAULT' }}</button>
             </div>
        
</ion-list>    
     
</ion-content>
